body{
    background-color: white;
}


img{


    transition: 0.8s all ease;
}

.logos li img{
    transition: all ease 0.75s;
}

.bg{

    width: 100%;

    background: url('../images/slide.png') center center no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

.fixedNav{
    background-color: unset;
    width: 100%;
    z-index: 99;
    margin-top: -6px;
    transition: .9s ease all;
    padding-top: 10px;
    padding-bottom: 10px;
}



.bitmap .line{
    margin-top: 87px;
}
.buttonsGroup{
    margin-bottom: 216px;
}
.navbar_styling{

    padding-top: 10px;

}
.logoDesktop{
    padding-top: 5px;
    padding-left: 10px;
}

.navButton1 {
    background: #00AED8;
    border-radius: 100px !important;
    margin-top: 36px;

}


.navButton2{
    background: #FFFFFF;
    border-radius: 100px !important;
    margin-top: 36px;

    margin-left: 15px !important;
}

.navButton3{
    background: #00AED8;
    border-radius: 100px !important;
    margin-top: 16px;
    margin-bottom: 58px;
}
.mobileNavH3{

    margin-top: 211px;
    opacity: 0.53;
    font-family: Lato-Regular, sans-serif;
    font-size: 30px;
    color: #FFFFFF;
    text-shadow: 0 6px 7px rgba(0,0,0,0.16);
}

.mobileNavH1{

    font-family: Lato-Black, sans-serif;
    font-size: 64px;
    color: #FFFFFF;
    line-height: 62px;
    text-shadow: 0 5px 8px rgba(0,0,0,0.21);
}
.mobileNavH12{
    font-family: Lato-Black, sans-serif;
    font-size: 64px;
    color: #FFFFFF;
    line-height: 62px;
    text-shadow: 0 5px 8px rgba(0,0,0,0.21);
}

.navButton1 span{

    padding: 20px 40px;
    font-family: Lato-Black, sans-serif;
    font-size: 24px;
    color: #FFFFFF;
    font-weight: bold;
}

.navButton2 span{

    padding: 20px 40px;
    font-family: Lato-Black, sans-serif;
    font-size: 24px;
    color: #00AED8;
    font-weight: bold;
}
.navButton3 span{
    font-family: Lato-Black, sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    padding-right: 20px;
    padding-left: 20px;
    font-weight: bold;
}

.new li div:not(:last-child){

    margin-right: 30px !important;
}

.belowVid .desktopWork{
    font-family: Lato-Black, sans-serif;
    font-size: 48px;
    color: #414449;
    line-height: 54px;
    font-weight: bold;

}

.walletBackgroundChange{
    background-color: #FFFFFF;
}


.widget .col-xs-12, .widget .col-sm-3{
    width: 270px;
    height: 275px;
    background-color: #F8F8F8;
    border-radius: 5px;
    margin-bottom: 31px;
    margin-right: 22.5px;
}

.widget .col-xs-12 h3, .widget .col-sm-3 h3{
    font-family: Lato-Black, sans-serif;
    font-size: 22px;
    color: #414449;
    line-height: 42px;
    font-weight: bold;
    padding-left: 32px;
}

.widget .col-xs-12 p, .widget .col-sm-3 p{
    font-family: Lato-Regular, sans-serif;
    font-size: 16px;
    color: #9B9B9B;
    line-height: 20px;
    padding-left: 32px;
    padding-right: 5px;

}
.widget .col-xs-12 img, .widget .col-sm-3 img{
    padding-left: 32px;
    padding-top: 30px;
}

.hiddenWidget{
    background-color: white;
}

.hiddenWidget h1{
    font-family: Lato-Black, sans-serif;
    font-size: 28px;
    color: #414449;
    line-height: 32px;
    font-weight: bold;
}

.hiddenWidget h3{
    font-family: Lato-Regular, sans-serif;
    font-size: 18px;
    color: #9B9B9B;
    line-height: 25px;
}

.NavbarLogos{
    float:left;
    padding-right: 25px;
}


/*
[class*="col-"] {
    background-clip: padding-box;
    border: 10px solid transparent;
}*/

.belowVid h3{

    font-family: Lato-Regular, sans-serif;
    font-size: 20px;
    color: #9B9B9B;
    line-height: 25px;
}
.line{

    border-top: 6px solid #00AED8;
    width: 75px;
    height: 5px;

}

.bitmap{

   /* background: url('../assets/screen.png') #F8F8F8 no-repeat;
    background-position: top 55px left 1270px;*/
    background-color: #F8F8F8;
    margin-top: 106px;
    padding-bottom: 66px;
    width: 100% !important;

}

.bitIMG{

    padding-top: 55px;
}

.bitmapH3{
    font-family: Lato-Black, sans-serif;
    font-size: 34px;
    color: #414449;
    font-weight: bold;
    padding-bottom: 46px;
    font-weight: bold;

}
.bitmap p{
    font-family: Lato-Regular, sans-serif;
    font-size: 20px;
    color: #9B9B9B;

}

.clouds{

    background: url('../images/Group4.png') center no-repeat;
    background-size: cover;
    width: 100%;
    position: relative;
}

.clouds .dan{

    position: absolute;
    top: 59px;
    left: 136px;

}

.clouds h2{
    opacity: 0.8;
    font-family: Lato-Regular, sans-serif;
    font-size: 30px;
    color: #FFFFFF;
}
.clouds h1{
    font-family: Lato-Black, sans-serif;
    font-size: 48px;
    color: #FFFFFF;
    line-height: 54px;
    font-weight: bold;
    padding-bottom: 88px;
}

.qualities li:not(:last-child){

    margin-right: 30px;

}



.classWithPad .truck img{

    opacity: 0.5;
}

.classWithPad .haul img{

    opacity: 0.5;
}

.classWithPad {

    padding-right: 30px;
    padding-top: 30px;
    padding-left: 30px;

}

.btn-group .btn-group-lg{
    padding-top: 10px;
}


.desktopP{

    font-family: Lato-Regular, sans-serif;
    font-size: 24px;
    color: #FFFFFF;
    line-height: 34px;
}

.desktopP2{

    font-family: Lato-Regular, sans-serif;
    font-size: 24px;
    color: #9B9B9B;
    line-height: 34px;
}




.ship {

    font-family: Lato-Black, sans-serif; font-size: 38px; color: #FFFFFF; line-height: 62px;
    margin-bottom: 13px;
}

.haul{

    font-family: Lato-Black, sans-serif;
    font-size: 38px;
    color: #414449;
    line-height: 62px;

}

#white .btn-default{

     color: #FFFFFF;
    font-size: 18px;

}

#blue .btn-default{

    color: #00AED8;
    font-size: 18px;
}

/*.logos li:not(:last-child){

 margin-right: 136px !important;
}*/


.logos li:first-child {

    margin-right: 136px;
}

.logos li:nth-child(2){

    margin-right: 147px;
}
.logos li:nth-child(3){

    margin-right: 144px;
}
.logos li:nth-child(4){

    margin-right: 139px;
}

.logos li:last-child{
    margin-right: -15px;
}

.greyColor{
    filter: grayscale(100%);
    padding-top: 10px;
}

.firstGreyColor:hover{
    cursor : pointer;
    filter: grayscale(100%) !important;
}

.greyColor:hover{
    filter: grayscale(0%) !important;
    cursor: pointer;
}
.firstGreyColor{
padding-top: 10px;
}

.navbar-nav .navbar-right li {
    font-family: Lato-Bold, sans-serif !important;
    font-size: 17px !important;
    color: #FFFFFF !important;
}

.nav>li>a{
    font-family: Lato-Bold, sans-serif !important;
    font-size: 17px !important;
    color: #FFFFFF !important;
}

.navbar-default .navbar-nav>li>a {
    color: #FFFFFF !important;
}

.navbar-nav > .active > a, .navbar-nav > .open > a {
    border-bottom: 3px solid rgb(0,174,216) !important;
    transition: all 0.1s ease !important;
    background-color: unset !important;

}
.navBarButtons li a:hover {
    border-bottom: 3px solid rgb(0, 174, 216) !important;
    transition: 0.1s all;
}
.navBarButtons li a{
    padding-left: 0;
    padding-right: 0;
}
.navBarButtons li{
    margin-right: 30px;
}

.nav .navbar-nav .navbar-right li{

    padding-left: 0;
    padding-right: 0;

}


.nav .navbar-nav .navbar-right li{
    padding-left: 0 !important;
    padding-right: 0 !important;
}


.navbar-brand{
    height: auto !important;
}

#blue{

    border-radius: 6px;
    background-color: #00AED8;
    box-shadow: 0 20px 22px 0 rgba(0,174,216,0.23);
    padding-left: 40px;

}

#blue button{
    background: #FFFFFF; border-radius: 100px; margin-top: 33px; margin-bottom: 62px;
}

#blue img{
 top: 38px;
 right:35.7px;
 position: absolute;
}

#white{
 background-color: #F1F1F1;
 border-radius: 6px;
 padding-left: 40px;
}

#white img{
    top: 38px;
    right:35.7px;
    position: absolute;
}
#white button{
    background: #00AED8; border-radius: 100px; margin-top: 35px; margin-bottom: 63px;
}

.boxTitleSpan{
    padding-left:40px;
    padding-right: 40px;
    font-weight: bold;
}

.navButtonTalk{
    background: #FFFFFF;
    border-radius: 100px;
}

.navButtonTalk span{
    font-family: Lato-Black, sans-serif;
    font-size: 18px;
    color: #00AED8;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
}
.talk{
    background: #00AED8;
    margin-top: 54px;
}
.talk p{
    opacity: 0.8;
    font-family: Lato-Regular, sans-serif;
    font-size: 30px;
    color: #FFFFFF;
    margin-top: 68px;
}
.talk h1{
    font-family: Lato-Black, sans-serif;
    padding-left: 55px;
    padding-right: 55px;
    font-size: 48px;
    color: #FFFFFF;
    line-height: 54px;
    font-weight: bold;
    padding-bottom: 35px;
}
.talk button{
    margin-bottom: 76px;
}

.contactMe h1{
    font-family: Lato-Black, sans-serif;
    font-size: 48px;
    color: #414449;
    line-height: 54px;
    font-weight: bold;
}
.contactMe h4{
    opacity: 0.35;
    font-family: Lato-Bold, sans-serif;
    font-size: 16px;
    color: #414449;
    margin-top: 53px;
    font-weight: bold;

}
.contactMe h5{
    opacity: 0.35;
    font-family: Lato-Regular, sans-serif;
    font-size: 14px;
    color: #414449;
    font-weight: bold;
}
.contactMe p{
    font-family: Lato-Bold, sans-serif;
    font-size: 26px;
    color: #00AED8;
    font-weight: bold;
}
.contactMe label{
    font-family: Lato-Bold, sans-serif;
    font-size: 16px;
    color: #414449;
}
.contactMe input{
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    border-radius: 5px;
}
.contactMe .details input{
    height:108px;
    margin-bottom: 44px;
}
.details{
    margin-top: 19px;
}

.logoPadding{
    padding-right: 10px;
    padding-left: 10px;
}

.navButtonContact, .navButtonContactHidden{
    background: #00AED8;
    border-radius: 100px;
    margin-bottom: 86px;

}
.navButtonContact span, .navButtonContactHidden span{
    font-family: Lato-Black, sans-serif;
    font-size: 18px;
    color: #FFFFFF;
    font-weight: bold;
    margin-left: 35px;
    margin-right: 35px;
}
.footing{
    background: #414449;
}
.footing .phone, .location, .location2{
    margin-top: 52px;
    padding-bottom: 16px;
}
.footing p{
    opacity: 0.35;
    font-family: Lato-Bold, sans-serif;
    font-size: 16px;
    color: #FFFFFF;
}
.footing h5{
    font-family: Lato-Bold, sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 500;
    margin-bottom: 71px;
    line-height: 25px;
}
.copyright{
    background: #393C42;
}
.copyright p{
    opacity: 0.35;
    font-family: Lato-Bold, sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    padding-top: 29px;
    padding-bottom: 20px;
}
#replaced{
    margin-top: 59px;
}

#videoReplace{
    padding-top: 59px;
}

.hideBR br{
    display: none;
}

.marginCorrection{
    margin-left: -10px;
}

.moreWorkFastPayment .line{
    margin-top: 120px;

}


.newH1, .mobileNavH1, .mobileNavH3Hidden, .mobileNavH3Hidden2, .navButton3, .mobileP1, .mobileP2, .NewBIT, .mobileWork, .hiddenWidget, .social, .navButtonContactHidden, .mobileContactMe{
    display: none;
}

.navbar-default .navbar-toggle{
    margin-top: 25px;
}

.contactMe{
    background-color: #F8F8F8;
}

.contactMe .line{
    margin-top: 71px;
}
.clouds .line{
    margin-top: 38px;
}

.slideShow{
    margin-top: 39px;
}
.shipAndHaul{
    margin-top: 67px;
}




/*media queries */

@media only screen and(max-width: 320px){
    .bg{
        background: url('../images/M_Group 5.png') center center no-repeat;

        height: 403px;

    }
}

@media only screen and (min-width : 769px){
    .moreWorkFastPayment .line{
        margin-left: 570px;
    }
    .navbar-right{
        padding-top: 5px;
        padding-right: 5px;
    }
}

@media only screen and (max-width : 768px){

    .bg{
        background-size: cover;
        background: url('../images/slide.png') no-repeat center center;

    }
    body .fixedNav{
        background-color: unset;
        position: relative;
    }
    body .bitmap{
        margin-top: 53px;
        padding-left: 5px;
    }
    body .shipAndHaul{
        margin-top: 28px;
    }

    body .hideBR br{
        display: block;
    }
    body .slideShow{
        margin-top: 29px;
    }
    body #blue, body #white{
        padding-left: 20px;
    }

    body #blue img{
          width: 89px;
          height: 63px;
      }
    body #blue button, body #white button{

        margin-top: 24px;

    }

  body #white img{
      width: 81px;
      height: 81px;
  }

  body .contactMe h4{
      margin-top: 31px;
  }


   body .navbar-brand {
       margin-left: -15px;

   }
   body .navbar-brand img{
       transform: scale(0.75, 0.75);
       transform-origin: 0 0;
       margin-top: 7px;
   }


    .navbar-toggle{

        background-color: #FFFFFF;
    }
    .navbar-default .navbar-toggle .icon-bar{
        background-color: #00AED8;
    }

    body .widget .col-xs-12, .widget .col-sm-3 {
        width:auto;
        height:auto;
    }

    body .mobileNavH1{
        display: inline-block;
        font-family: Lato-Black, sans-serif;
        font-size: 28px !important;
        color: #FFFFFF;
        line-height: 32px;
        text-shadow: 0 5px 8px rgba(0,0,0,0.21);
        margin-top: 25px;

    }
    body .navButtonContactHidden{
        margin-bottom: 54px;
    }

    body .clouds h1{
        padding-bottom: 1px;
    }

    body .buttonsGroup{
        margin-bottom: 15px;
    }

   body .clouds .hey{
        display: block;
   }
   body .dan{
       display: none;
   }

   body #videoReplace{
       padding-top: 30px;
   }

   body .bitmapH3{
       font-family: Lato-Black, sans-serif;
       font-size: 18px;
       color: #414449;
       line-height: 26px;
       font-weight: bold;
       padding-bottom: 18px;
   }

   body .umbrella{
       background-color: white;
       margin-left: 15px;
   }
   body .wallet{
       background-color: #F8F8F8;
       margin-left: 15px;
       margin-top: 10px;
   }

   body .bitIMG{
       padding-top: 27px;
       margin-left: -12px;
   }

    body .mobileNavH1Hidden, body .mobileNavH3, body .mobileNavH12{
        display: none;
    }
    body .belowVid .desktopWork{
        display: none;
    }

    body .mobileNavH3Hidden{
        padding-top: 5px;
        display: inline-block;
        opacity: 0.53;
        font-family: Lato-Regular, sans-serif;
        font-size: 18px !important;
        color: #FFFFFF;
        text-shadow: 0 6px 7px rgba(0,0,0,0.16);
    }
    body .mobileNavH3Hidden2{
        display: inline-block;
        opacity: 0.53;
        font-family: Lato-Regular, sans-serif;
        font-size: 18px;
        color: #FFFFFF;
        text-shadow: 0 6px 7px rgba(0,0,0,0.16);
    }

    body .navButton3{
        display: inline-block;
    }

    body .ship{
        font-family: Lato-Black, sans-serif;
        font-size: 28px;
        color: #FFFFFF;
        line-height: 62px;
        font-weight: bold;
        margin-top: -10px;
    }
    body .haul{
        font-family: Lato-Black, sans-serif;
        font-size: 38px;
        color: #414449;
        line-height: 62px;
        font-weight: bold;
        margin-top: -10px;
    }

    body .desktopP, body .desktopP2{
        display: none;
    }


    body .mobileP1 {
        display: inline-block;
        font-family: Lato-Regular, sans-serif;
        font-size: 16px;
        color: #FFFFFF;
        line-height: 22px;
    }
    body .mobileP2{
        display: block;
        font-family: Lato-Regular, sans-serif;
        font-size: 16px;
        color: #9B9B9B;
        line-height: 22px;
    }

    body .classWithPad{
        margin-bottom: 18px;
    }


    body .boxTitle .ship{
        font-family: Lato-Black, sans-serif;
        font-size: 28px;
        color: #FFFFFF;
        line-height: 62px;
    }
    body .line{
        width: 55px;
    }
    body .moreWorkFastPayment .line{
        margin-top: 100px;

    }

    body .bitmap .line{
        margin-top: 34px;
    }

    body .belowVid .mobileWork{
        display: block;
        font-family: Lato-Black, sans-serif;
        font-size: 28px;
        color: #414449;
        line-height: 32px;
        font-weight: bold;
    }
    body .talk{
        margin-top: 3px;
    }


    body .talk p{
        font-size: 18px;
    }
    body .talk h1{
        font-size: 28px;
        color: #FFFFFF;
        line-height: 32px;
        padding-left: 1px;
        padding-right: 1px;
        padding-bottom: 30px;
    }
    body .talk button{
        margin-bottom: 57px;
    }
    body .social{
        display: inline-block;
        width: 49px;
        height: 49px;
        float: left;
        margin-right: 14px;
        margin-bottom: 48px;
    }

    body .navButtonContactHidden{
        display: block;

    }
    body .navButtonContact{
        display: none;
    }
    body .contactMe .email{
        font-size: 22px;
    }
    body .bitmap p{
        font-family: Lato-Regular, sans-serif;
        font-size: 16px;
        color: #9B9B9B;
        line-height: 20px;
    }



    #blue #white{

        width: 288px;
        height: 252px;
        padding-left: 16px;
        padding-right: 16px;

    }



    .bitmap{
        /*background: url('../assets/M_Bitmap.png') #F8F8F8 no-repeat;
        background-position: top 429px center;*/

    }

    .bitmap .mobilePadding{
        padding-bottom: 27px;
    }

    .bitmap h2{
        opacity: 0.8;
        font-family: Lato-Regular, sans-serif;
        font-size: 18px !important;
        color: #FFFFFF;
    }
    /*body .NewBIT{
        display: block;
    }
    body .oldBIT{
        display: none;
    }*/

   body .newH1{
       display: block;
       font-family: Lato-Black, sans-serif;
       font-size: 28px !important;
       color: #FFFFFF;
       line-height: 32px;

   }

   body .clouds h2{
       opacity: 0.8;
       font-family: Lato-Regular, sans-serif;
       font-size: 18px;
       color: #FFFFFF;
   }


   body .widget{
       background-color: #F8F8F8;
   }
   body .widget .col-xs-12{
       background-color: white;
       margin-left: 12px;
       margin-bottom: 34px;
   }
    body .wallet{
        background-color: #F8F8F8 !important;
    }

   body .widget .col-xs-12.bye{
       display: none;
   }

   body .hiddenWidget{
       display: block;

   }

   body .desktopContactMe{
       display: none;
   }
   body .mobileContactMe{
       display: block;
       margin-top: 34px;
   }

   body .contactMe h1{
       font-family: Lato-Black, sans-serif;
       font-size: 28px;
       color: #414449;
       line-height: 32px;
       font-weight: bold;
   }
   body .contactMe .line{
       margin-top: 49px;
   }

   body .contactMe input{
       background: #FFFFFF;
       border: 1px solid #EBEBEB;
       border-radius: 5px;
   }
   body .contactMe label{
       margin-top: 9px;
       font-family: Lato-Bold, sans-serif;
       font-size: 14px;
       color: #414449;
   }
   body .details{
       margin-top: 1px;
   }
   body .contactMe .details input{
       margin-bottom: 38px;
   }
   body .talk p{
        margin-top: 36px;
   }

   body .clouds .line{
       margin-top: 38px;
   }

   body .footing h5{
       margin-bottom: 36px;
   }

   .oldH1{display: none; }

    .navButton1, .navButton2{
        display: none;
    }
}
